body{
    background: linear-gradient(65deg,white,gray);
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: "Sofia", sans-serif;
}
#tag-line:hover{
    color: rgb(95, 230, 212);
    font-size: 30px;
}
.highlight{
    color: rgb(165, 42, 149);
    font-size: 40px;
}
#tag-line{
    color: red;
}
.half-block{
    border: 10px;
    width: 45%;
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    padding: auto;

}
.half-block img{
    width: 88%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,salmon,tomato);
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 15px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-size: 100%;
}

section{
    height: 500px;
}
.download-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,salmon,tomato);
    border-radius: 10px;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
}